
@{
    ViewData["Title"] = "Header";
}


<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <button type="button" class="btn btn-outline-primary btn-icon-text">
                    <a class="mdi mdi-upload btn-icon-prepend" asp-controller="Post" asp-action="AddPost">Yorum Oluştur</a>
                </button>
            </div>
            <h4 class="card-title text-center text-success">Wifi sifremi sampiyonlar ligi yaptim</h4>
            <div class="preview-list">

                <div class="preview-item border-bottom">
                    <div class="preview-item-content d-flex flex-grow">
                        <div class="flex-grow">
                            <div>
                                <h6 class="preview-subject text-information">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet, neque eget rhoncus vulputate, justo dui eleifend libero, in sodales eros est eget sem. Curabitur ultricies quam vel metus sollicitudin mattis. Maecenas consequat consequat euismod. Duis interdum imperdiet metus, ut vulputate ipsum lobortis ut. Integer in aliquet massa, sed ullamcorper est. Nullam ac elit nisl. Etiam ipsum dolor, ultricies egestas lacus eget, venenatis bibendum libero. Fusce gravida laoreet augue.

                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse eget nulla quis lacus consequat sagittis. Maecenas volutpat fermentum augue, in ultrices lectus eleifend sit amet. Sed lobortis, nibh a gravida posuere, est ipsum eleifend diam, cursus ultricies orci quam ac eros. Aenean euismod eu ex vitae suscipit. Suspendisse pharetra congue nibh non consequat. Nulla id lectus tellus. Nullam dapibus ligula nec augue tempor, eu auctor tellus commodo. Proin faucibus sapien ut elit pulvinar, ac blandit odio facilisis. Sed gravida tellus ut tortor eleifend, vitae dictum velit condimentum. Fusce ac ultricies dolor. Nulla a fermentum tellus, a rutrum nisl.

                                    Vestibulum eu odio ut ante ultricies imperdiet. Nulla a justo ullamcorper odio efficitur tincidunt. Nam quis neque auctor, suscipit erat congue, vulputate diam. Sed ac mauris aliquam, fermentum orci pretium, sodales libero. Vivamus vel felis sem. Vestibulum mattis id elit vitae commodo. Cras et nisl mauris. Nulla facilisi. Integer ut neque congue, convallis diam et, mollis mauris. Donec vel turpis eget dui iaculis aliquet sed sed augue. Cras lobortis ligula erat, vitae porta nunc malesuada quis. Integer molestie iaculis magna facilisis dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed augue diam. Nullam hendrerit tortor at finibus venenatis. Nullam posuere varius turpis, at egestas lorem feugiat quis.
                                </h6>
                            </div>
                            <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                <p class="text-success">Beğen</p>
                                <p class="text-danger">Beğenme</p>
                                <p class="text-warning">Kullanıcıyı engelle</p>
                                <p class="text-muted text-small">icmaylabi06</p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>