
@{
    ViewData["Title"] = "Header";
}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">Gündemdekiler</h4>
            <div class="preview-list">

                <div class="preview-item border-bottom">
                    <div class="preview-item-content d-flex flex-grow">
                        <div class="flex-grow">
                            <div>
                                <h6 class="preview-subject text-primary"><a href="login.html">Wifi sifremi sampiyonlar ligi yaptim</a></h6>
                            </div>
                            <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                <p class="text-muted">fenerliler giremiyor..</p>
                                <p class="text-muted text-small">icmaylabi06</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>